common --experimental_enable_bzlmod
build --enable_platform_specific_config
build --incompatible_enable_cc_toolchain_resolution
build --incompatible_strict_action_env

try-import %workspace%/user.bazelrc
build --workspace_status_command=./wsc.bat # added by wsc init
